.toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #787878;
    border-radius: 2.5rem; 
    padding: 0.87rem 0 0.87rem 0;
    margin-block-end: 2.5rem;
    gap: 1rem;
}

.wrapper {
    position: relative;
}

#canvas {
    background-color: transparent;
    position: absolute;
    width: 90vw;
    height: 80vh;
}

#display-canvas {
    background-color: #FFF;
    width: 90vw;
    height: 80vh;
}



